$dot-color:#c7c7c7;
$center:0 auto;
.app-content-wrap {
    max-width: 1220px;
    min-height: calc(100vh - 320px);
    margin: $center;
    .container{
        list-style: none;
        padding-left: 9px;
        background-color: transparent;
        .item{
            user-select: none;
            float: left;
            .link{
                color: #999;
                transition: color .3s ease;
                line-height: 60px;
                float: left;
                font-size: 12px;
            }
            .dot{
                float: left;
                width: 2px;
                height: 2px;
                margin: 29px 20px;
                background-color: $dot-color;
            }
            .active{
                cursor: auto;
                color: #5683ea;
                }
        }
    }
}



