.page-cart {
  clear: both;
  width: 1220px;
  min-height: 600px;
  padding: 30px 0 25px;
  margin: 0 auto; }
  .page-cart .gray-box {
    position: relative;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0, 0, 0, 0.14);
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1); }
    .page-cart .gray-box .title {
      position: relative;
      z-index: 10;
      height: 60px;
      padding: 0 10px 0 30px;
      border-bottom: 1px solid #dbdbdb;
      border-radius: 8px 8px 0 0;
      background: #fafafa;
      line-height: 60px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.6); }
      .page-cart .gray-box .title h2 {
        font-weight: 700;
        font-size: 100%; }
    .page-cart .gray-box .box-inner {
      padding-bottom: 94px; }
      .page-cart .gray-box .box-inner .cart-table-title[_ngcontent-c6] {
        position: relative;
        z-index: 1;
        line-height: 38px;
        height: 38px;
        padding: 0 0 0 30px;
        font-size: 12px;
        font-weight: 700;
        background: #f5f5f5;
        border-bottom: 1px solid #dbdbdb;
        border-bottom-color: rgba(0, 0, 0, 0.08); }
        .page-cart .gray-box .box-inner .cart-table-title[_ngcontent-c6] span[_ngcontent-c6] {
          float: right;
          text-align: center;
          color: #838383; }
        .page-cart .gray-box .box-inner .cart-table-title[_ngcontent-c6] .name[_ngcontent-c6] {
          float: left;
          text-align: left; }
    .page-cart .gray-box .cart-bottom-bg {
      height: 80px;
      background: url(//static.smartisanos.cn/index/assets/images/cart-wrapper-bg.4c8003c76e558b5365c356d7acecd425.jpg) repeat-x;
      background-size: auto 80px;
      border-top: 1px solid #d9d9d9;
      border-radius: 0 0 8px 8px; }
    .page-cart .gray-box .fix-bottom {
      height: 90px;
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 1;
      background-position: 50%;
      background: #fdfdfd;
      background: linear-gradient(#fdfdfd, #f9f9f9);
      border-top: 1px solid #e9e9e9;
      box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.04);
      font-weight: 700; }
      .page-cart .gray-box .fix-bottom .cart-bar-operation {
        float: left;
        padding: 30px 26px;
        font-size: 12px; }
      .page-cart .gray-box .fix-bottom .shipping {
        display: inline-block;
        float: right;
        padding: 17px 30px; }
        .page-cart .gray-box .fix-bottom .shipping .shipping-box {
          display: inline-block;
          padding-top: 1px;
          margin-right: 10px; }
          .page-cart .gray-box .fix-bottom .shipping .shipping-box .shipping-total {
            border-left: 1px solid #e1e1e1;
            padding: 0 20px; }
            .page-cart .gray-box .fix-bottom .shipping .shipping-box .shipping-total h4 {
              color: #323232;
              font-weight: 700; }
              .page-cart .gray-box .fix-bottom .shipping .shipping-box .shipping-total h4 i {
                color: #d44d44;
                font-size: 18px;
                font-weight: 700; }
            .page-cart .gray-box .fix-bottom .shipping .shipping-box .shipping-total h5 {
              color: #959595;
              margin-top: 4px;
              font-weight: 700; }
              .page-cart .gray-box .fix-bottom .shipping .shipping-box .shipping-total h5 i {
                font-size: 16px; }
          .page-cart .gray-box .fix-bottom .shipping .shipping-box .shipping-total.shipping-num i {
            width: 28px;
            display: inline-block;
            text-align: center; }
          .page-cart .gray-box .fix-bottom .shipping .shipping-box .shipping-total.shipping-price {
            padding-right: 0; }
        .page-cart .gray-box .fix-bottom .shipping .jianguo-blue-main-btn {
          display: block;
          padding: 1px;
          margin: 0 auto;
          border-radius: 9px;
          text-align: center;
          text-shadow: rgba(0, 0, 0, 0.15) 0 -1px 0;
          cursor: pointer;
          -webkit-user-select: none;
          user-select: none;
          background: #567ce6 linear-gradient(#799cea, #567ce6);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 2px rgba(0, 0, 0, 0.2); }
          .page-cart .gray-box .fix-bottom .shipping .jianguo-blue-main-btn :hover, .page-cart .gray-box .fix-bottom .shipping .jianguo-blue-main-btn a {
            box-shadow: none;
            color: #fff; }
          .page-cart .gray-box .fix-bottom .shipping .jianguo-blue-main-btn a {
            display: block;
            border-radius: 9px;
            cursor: pointer;
            text-shadow: none;
            font-weight: 700;
            transition: all .3s ease; }
        .page-cart .gray-box .fix-bottom .shipping .big-main-btn {
          height: 48px;
          float: right;
          background: #5d86e5;
          background: linear-gradient(#688fe8, #5079e1); }
  .page-cart .delete-choose-goods, .page-cart .selected-count {
    float: left;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    position: relative; }
  .page-cart .choose-all, .page-cart .delete-choose-goods, .page-cart .selected-count {
    float: left;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    position: relative; }
  .page-cart .m-blue-checkbox-new {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(//static.smartisanos.cn/index/assets/images/un-checked.1a97c0ce7ab528e1a70d19d8c41020a2.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    vertical-align: middle; }
  .page-cart .m-blue-checkbox-new {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(//static.smartisanos.cn/index/assets/images/un-checked.1a97c0ce7ab528e1a70d19d8c41020a2.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    vertical-align: middle; }

.fix-bottom .fix-bottom-inner .cart-bar-operation .choose-all .text-choose-all {
  float: right;
  margin-left: 9px; }

.fix-bottom .fix-bottom-inner .cart-bar-operation .delete-choose-goods {
  position: relative;
  margin-left: 21px;
  color: #bbb; }

.page-cart .choose-all, .page-cart .delete-choose-goods, .page-cart .selected-count {
  float: left;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  position: relative; }

.fix-bottom .fix-bottom-inner .cart-bar-operation .delete-choose-goods:before {
  content: "";
  position: absolute;
  left: -11px;
  top: 4px;
  height: 12px;
  width: 1px;
  background: #e1e1e1;
  cursor: default; }

h4.highlight span, .fix-bottom .fix-bottom-inner .shipping .shipping-box .shipping-total h5.highlight span {
  color: #d44d44; }
