.footer-container {
  display: block;
  margin-top: 40px;
  background: #fafafa;
  border-top: 1px solid #e6e6e6; }
  .footer-container .footer-wrapper {
    width: 1220px;
    margin: 0 auto; }
    .footer-container .footer-wrapper .footer-menu {
      position: relative;
      overflow: hidden;
      padding: 60px 0 55px;
      border-bottom: 1px solid #e6e6e6; }
      .footer-container .footer-wrapper .footer-menu .items-group {
        float: left;
        margin-right: 90px;
        line-height: 1; }
        .footer-container .footer-wrapper .footer-menu .items-group h3 {
          color: #646464;
          font-weight: 700;
          font-size: 12px;
          padding: 0 0 20px; }
        .footer-container .footer-wrapper .footer-menu .items-group a {
          display: block;
          color: #969696;
          font-size: 12px;
          padding: 7px 0; }
      .footer-container .footer-wrapper .footer-menu .footer-service {
        position: absolute;
        right: 0;
        overflow: hidden;
        line-height: 34px;
        text-align: right; }
        .footer-container .footer-wrapper .footer-menu .footer-service .tel {
          position: relative;
          font-size: 18px;
          font-weight: 900;
          line-height: 1;
          cursor: default;
          color: #5079d9; }
        .footer-container .footer-wrapper .footer-menu .footer-service .desc, .footer-container .footer-wrapper .footer-menu .footer-service .time {
          font-size: 12px;
          line-height: 1;
          color: #999;
          margin-top: 5px; }
        .footer-container .footer-wrapper .footer-menu .footer-service .time {
          margin-top: 15px; }
        .footer-container .footer-wrapper .footer-menu .footer-service .online {
          float: right;
          top: 15px; }
          .footer-container .footer-wrapper .footer-menu .footer-service .online .online-btn {
            display: block;
            width: 132px;
            height: 30px;
            line-height: 30px;
            background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f5f5f5));
            background: linear-gradient(#fcfcfc, #f5f5f5);
            cursor: pointer;
            font-weight: 700;
            margin-top: 15px;
            text-align: center;
            color: #5079d9;
            border: 1px solid #d0d0d0;
            border-radius: 5px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
            .footer-container .footer-wrapper .footer-menu .footer-service .online .online-btn span {
              font-size: 12px;
              height: 28px;
              line-height: 28px;
              vertical-align: top;
              display: inline-block; }
          .footer-container .footer-wrapper .footer-menu .footer-service .online .info-question {
            position: relative; }
          .footer-container .footer-wrapper .footer-menu .footer-service .online .info-question:before {
            content: "N";
            font-size: 14px;
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;
            height: 28px;
            line-height: 28px; }
          .footer-container .footer-wrapper .footer-menu .footer-service .online .smartisan-icon {
            display: inline-block;
            font-family: SmartisanIconFont;
            vertical-align: middle; }
    .footer-container .footer-wrapper .footer-info {
      color: #434d55;
      font-size: 12px;
      padding: 30px 0 60px; }
      .footer-container .footer-wrapper .footer-info .copyright li {
        float: left;
        line-height: 12px;
        color: #bdbdbd;
        padding: 0 10px;
        border-left: 1px solid #ccc; }
        .footer-container .footer-wrapper .footer-info .copyright li a {
          color: #ababab; }
      .footer-container .footer-wrapper .footer-info .copyright li:first-child {
        padding-left: 0;
        border-left: none; }
      .footer-container .footer-wrapper .footer-info .icp {
        margin-top: 10px; }
        .footer-container .footer-wrapper .footer-info .icp li {
          float: left;
          line-height: 12px;
          padding-right: 10px; }
        .footer-container .footer-wrapper .footer-info .icp li a {
          color: #bdbdbd; }
        .footer-container .footer-wrapper .footer-info .icp li + li {
          border-left: 1px solid #ccc;
          padding-left: 10px; }
        .footer-container .footer-wrapper .footer-info .icp .public-security {
          position: relative;
          padding-left: 35px !important; }
        .footer-container .footer-wrapper .footer-info .icp .public-security::before {
          position: absolute;
          content: "";
          top: -5px;
          left: 10px;
          width: 20px;
          height: 20px;
          background: url(//static.smartisanos.cn/indexnew/img/icon-public-security.d0289dc0.png) no-repeat;
          background-size: 20px; }
