
.category-list.container{
    width: 1220px;
    margin: 0 auto;
    overflow: hidden;
}
.flex-box{ 
    display: flex;
    flex-flow: row wrap;
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.category-list .container-wappper{
    width: 1220px;
    margin: 0 auto 40px;
}
.category-list .item{
    width: 243px;
    position: relative;
    background-color: white;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .15s ease-out;
    border: none;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.category-list  .item:hover{
    box-shadow: inset 0 0 30px rgba(0,0,0,.1);
}
.category-list  .item figure{
    width: 244px;
    margin: 0 auto;
    padding-top: 20px;

}
.category-list  .item figure img{
    display: block;
    width: 204px;
    height: 204px;
    margin: 0 auto;
    color: #333;
}
.category-list  .activity-tag{
    position: absolute;
    top: 10px;
    right: 10px;
}
.category-list  .activity-tag span{
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 18px;
    border: 1px solid #e6e6e6;
    border-radius: 13px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.category-list .activity-tag .red{
    color: #d03b34;
    background: #ffe7e5;
    border-color: #f3938b;
}
.category-list .activity-tag .yellow{
    color: #a06e37;
    background: #fffbdf;
    border-color: #d5b480;
}
.item h3{
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    margin: 0 12px;
    padding-top: 8px;

}
.item h5{
    padding: 15px 10px 0;
    font-size: 12px;
    color: #999;
}
.txt-product-title{
    min-height: 14px;
}
.item  .item-attr-colors{
    margin-top: 15px;
    height: 17px;
}
.item .item-attr-colors .outer{
    display: inline-block;
    overflow: hidden;
    margin: 0 5px;
    padding: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    transition: all .15s ease-out;
    cursor: pointer;
}
.item .item-attr-colors .outer img{
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}
.item .item-attr-colors .outer.active{
    box-shadow: inset 0 0 0 1px #b2b2b2;
    border-color: #b2b2b2;
}

.item-price{
    margin: 20px 0;
    font-family: Arial;
    font-size: 18px;
    font-weight: bolder;
    color: #d44d44;
}
.orignal-price{
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
    padding-left: 10px;
    color: #ccc;
}